<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MultiActivity">

        <activity android:name=".BmiActivity" />
        <activity android:name=".GcdLcmActivity" />
        <activity android:name=".FactorialActivity" />
        <activity android:name=".FibonacciActivity" />
        <activity android:name=".NumberSystemActivity" />
        <activity android:name=".PrimeActivity" />
        <activity android:name=".EvenOddActivity" />
        <activity android:name=".CalculatorActivity" />
        <activity android:name=".MainActivity" />

        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>